.theme_todoist {
    background-color: #101d2e !important;
}

.go_premium {
    visibility: hidden !important;
}

.cmp_comment, .cmp_comment_on {
    visibility: hidden;    
}

.menu_no_biz_user {
    visibility: hidden;
    display: none;
}

#top_bar {
    background-color: #101d2e !important;
    border-bottom: none !important;
    box-shadow: 0px 0px 0px 0px !important;
}

